html { 
    scroll-padding-top: 105px;

}


body{
    font-size: 20px;
    font-family: 'Poppins', sans-serif;

}
.link {
  text-decoration: none;
  position: relative;
  font-size: 15px;
  transition: color 0.3s ease;
}

.link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0%;
  height: 3px;
  background-color: red;
  transition: width 0.3s ease;
}

.link:hover {
  color: red;
}

.link:hover::after {
  width: 100%;
}

nav {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}


#about{
  
  scroll-padding-top: 62px;
}

#home {
  background: linear-gradient(90deg, #000428, #004e92);
}

.title1 , .title2 {
  position: relative;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding-bottom: 4px;
}

.title1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: red;
  border-radius: 2px;
}

.title2::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(144, 0, 255);
  border-radius: 2px;
}

.picture img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.skills-card .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px; 
  
  transition: transform 0.3s, box-shadow 0.3s;
}

.skills-card .card i,
.skills-card .card span.fw-bold {
  margin-bottom: 8px; 
}

.skills-card .social-name {
  margin-top: 5px;
  font-size: 0.9rem;
  font-weight: 500;
}

.skills-card .card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}
